
body {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.stick {
  background: black;
  width: 18px;
  height: 100px;
  margin: 0 auto;
}

.traffic-light {
  background: black;
  width: 120px;
  border-radius: 5%;
  padding: 10px;
}

.red-light {
  background: rgb(199, 13, 13);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.yellow-light {
  background: yellow;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 10px;
}

.green-light {
  background: green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 10px;
}

/* Light glow */

.red-light-glow {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 4px lightcoral;
}

.yellow-light-glow {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 10px;
  box-shadow: 0px 0px 50px 4px lightyellow;
}

.green-light-glow {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 10px;
  box-shadow: 0px 0px 50px 4px lightgreen;
}

